<?xml version="1.0" encoding="utf-8"?>
<configuration status="error" monitorinterval="30">
	<properties>
		<property name="pattern">%d{iso8601} %-5level %c (%F:%L) - %m%n</property>
	</properties>
	<appenders>
		<console name="console" target="SYSTEM_OUT">
			<patternlayout pattern="${pattern}"/>
		</console>
		<File name="logFile" fileName="log.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

	</appenders>


	<loggers>
		<root level="trace">
			<appenderref ref="logFile"/>
			<appenderref ref="console"/>

		</root>
	</loggers>
</configuration>
